[submodule "extern/GLFW"]
	path = extern/GLFW
	url = https://github.com/glfw/glfw
[submodule "extern/GLEW"]
	path = extern/GLEW
	url = https://github.com/Perlmint/glew-cmake
[submodule "extern/GLM"]
	path = extern/GLM
	url = https://github.com/g-truc/glm
[submodule "extern/SOIL2"]
	path = extern/SOIL2
	url = https://github.com/saada2006/soil2-cmake
[submodule "extern/ASSIMP"]
	path = extern/ASSIMP
	url = https://github.com/assimp/assimp
